/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar {
	background-color: #fb8500;
	;
}

body {
	background: #16222A; 
	background: linear-gradient(to top, #3A6073, #16222F);Safari 7+ */
	font-family: "Roboto", monospace;
	background-repeat: no-repeat;
	font-weight: bold;
}

p {
	font-size: 10x;
}

.card {
	width: 20rem;
}

#logo {
	width: 50px;
	mix-blend-mode: color-dodge;

}
#aboutme {
}

#link_logo {
	width: 40px;
	height: 40px;
}

/*#form {
	background-color: #14213d;
}

*/